.section-inventaris{
    .img-detail-book{
        width: 280px; 
        height: 400px;
    }
    .container{
        // text-align: center; 
        padding-right: -50px;
        .sinopsis-title{
            color: #23120B; font-weight: 500; font-size: 20px;
        }
    }
    .dashboard-heading{
        .dashboard-subtitle{
            color: #3685C8;
        }
    }
}