.card {
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(47, 108, 165, 0.05);
    border-radius: 4px;
    margin-right: 10px;
    border: none;
    .dashboard-card-title {
        font-weight: 600;
        font-size: 14px;
        width: 172px;
    }
    .dashboard-card-subtitle {
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        width: 171px;
        // padding-right: 50px;
        color: #6F7E8C;
    }
}

.card-kategori {
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(47, 108, 165, 0.05);
    border-radius: 4px;
    border: none;
    height: 114px;
    width: 170px;
    text-align: center;
    margin-right: 20px;
    .card-body {
        img {
            height: 48px;
            text-align: center;
        }
        .dashboard-card-title {
            font-weight: 600;
            font-size: 12px;
            color: #3685C8;
        }
        .dashboard-card-subtitle {
            font-weight: 500;
            font-size: 12px;
            text-align: center;
            color: #6F7E8C;
        }
    }
}

@media (max-width: 410px) {
    .card-kategori {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 150px;
    }
}